@media only screen and (max-width:1199px) {
    .search-input-box {
        width: 100%;
    }
}

@media only screen and (max-width:992px) {
    .search-input-box {
        width: 50%;
    }
}
@media only screen and (max-width:900px) {
    .cart-left{
        width: 100%;
    }
    .cart-right{
        width: 100%;
    }
}


@media only screen and (max-width:768px) {}

@media only screen and (max-width:767px) {
    .hp-left span {
        display: block;
        margin-bottom: 5px;
    }

    .hp-left span:last-child {
        display: block;
        margin-bottom: 0;
    }

    .hp-right {
        padding: 13px 0;
    }
    .search-input-box {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .login-box {
        max-width: 450px;
    }
}

@media only screen and (max-width: 570px) {
    .contect-main {
        max-width: inherit;
        margin-left: 0;
    }
}
